<div class="currency-converter">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <legend>Super handy Currency Converter!</legend>

            <div>Current exchange rate: 1 USD = {{ getExchangeRate() }} EUR</div>

            <div class="pure-control-group">
                <label for="eur">EUR: </label>
                <input id="eur" type="text" ng-model="eur" placeholder="€" ng-keyup="calculate()" value="eur">
            </div>

            <div class="pure-control-group">
                <label for="usd">USD: </label>
                <input id="usd" type="text" ng-model="usd" placeholder="$" ng-keyup="calculate()" value="usd">
            </div>
        </fieldset>
    </form>
</div>