<div class="todo">
    <form class="pure-form">
        <fieldset>
            <legend>A sample ToDo app</legend>

            <div>{{ (task in filteredTasks()).length }} tasks</div>

            <div ng-repeat="task in filteredTasks() track by $index">
                <input type="text" placeholder="{{ task.name }}"><button type="submit" class="pure-button pure-button-error pure-button-small" ng-click="deleteTask($index)">Delete</button>
            </div>

            <button type="submit" class="pure-button pure-button-primary">Save</button>
            <button type="submit" class="pure-button pure-button-primary" ng-click="addNewTask()">New Task</button>
        </fieldset>
    </form>
</div>